* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  transition: all 0.3s ease;
}

:root {
  --lightwhite: #fbfcff;
  --darkgrey: #363636;
  --blackgrey: #202020;
  --softblue: #dbdfec;
  --midblue: #798095;
  --6: 6px;
  --12: 12px;
  --24: 24px;
  --48: 48px;
  --72: 72px;
  --96: 96px;
  --left-right-padding: 20vw;
}

.light-white {
  color: var(--lightwhite);
}

.dark-grey {
  color: var(--darkgrey);
}

.black-grey {
  color: var(--blackgrey);
}

.mid-blue {
  color: var(--midblue);
}

body {
  background-color: var(--lightwhite);
}

p {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.shadow-right {
  box-shadow: 8px 8px 10px rgba(121, 128, 149, 0.2);
}

.shadow-left {
  box-shadow: -8px 8px 10px rgba(121, 128, 149, 0.2);
}

.shadow-cent {
  box-shadow: 0px 0px 10px rgba(121, 128, 149, 0.3);
}

.mar-bottom-12 {
  margin-bottom: var(--12);
}

.mar-top-72 {
  margin-top: var(--72);
}

/* Navigation */

.nav-container {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  margin: 100px var(--left-right-padding) 50px var(--left-right-padding);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.ul-nav {
  display: flex;
  list-style: none;
  gap: 6px;
}

.li-nav a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.li-nav a:hover {
  border: 2px solid var(--darkgrey);
}

.logo-header img {
  width: 85px;
  height: 85px;
}

/* Portfolio */

.portfolio-container {
  padding: 0px var(--left-right-padding);
}

.page-title {
  font-size: 53px;
  font-weight: 800;
  border-top: 5px solid;
  padding-top: var(--6);
  padding-bottom: var(--24);
}

.card-container {
  display: grid;
  padding: var(--24) 0;
  gap: var(--24);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: var(--12);
  overflow: hidden;
  border-bottom: solid 4px var(--softblue);
  flex: 1 1 400px;
}

.card:hover {
  box-shadow: 0px 0px 25px rgba(121, 128, 149, 0.15);
}

.card-img {
  width: auto;
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card:hover .card-img img {
  transform: scale(1.05);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: var(--6);
  padding: var(--24) var(--24);
  background-color: var(--lightwhite);
}

.card-heading {
  font-size: 1.7rem;
  line-height: 2 rem;
  font-weight: 400;
}

.card:hover .card-heading {
  font-weight: 600;
}

.card:hover .card-body {
  color: var(--blackgrey);
}

.card-title {
  display: flex;
  gap: var(--6);
  align-items: center;
}

.card-arrow {
  display: inline-block;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateZ(0deg) skew(0deg);
  opacity: 0;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.75, 0.82, 0.165, 1),
    opacity 0.4s ease-in;
  font-size: 1.5rem;
  margin-top: var(--6);
  color: var(--darkgrey); /* or use var(--midblue) */
}

.card:hover .card-arrow {
  transform: translate3d(20px, 0, 0) scale3d(1, 1, 1) rotateZ(0deg) skew(0deg);
  opacity: 1;
}

/* Projects */
.project-container {
  padding: 0px var(--left-right-padding);
}

.project {
  margin-bottom: var(--72);
}

.width-50 {
  width: 50%;
}

.text-split {
  display: flex;
  gap: var(--48);
  align-items: flex-start;
}
.project-title {
  margin: var(--48) 0 var(--12) 0;
  font-size: 1.7rem;
  font-weight: 300;
  padding-top: var(--12);
  border-top: 1px solid var(--midblue);
  border-radius: 5px;
  padding-bottom: var(--24);
}

.results {
  padding: var(--24) var(--48);
  background-color: #dbdfec3b;
  color: var(--midblue);
  font-weight: 400;
  align-items: center;
  border-top: solid 1px var(--softblue);
  border-bottom: solid 1px var(--softblue);
}

/* Starfield */

.starfield-designs {
  display: flex;
  gap: var(--24);
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.starfield-1,
.starfield-2,
.starfield-3 {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
}
.starfield-mms {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(121, 128, 149, 0.15);
}

.starfield-3 {
  position: relative;
  justify-content: center;
  align-items: center;
}
.landing-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 9/19;
  overflow: hidden;
  border-radius: 25px;
}

.bg-phone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; /* Allow clicks to pass through to iframe */
}

.bg-phone img {
  width: 100%;
  height: 100%;
}

.starfield-landing {
  position: absolute;
  top: 0%; /* Distance from top of phone */
  left: 50%; /* Distance from left edge */
  transform: translateX(-50%); /* Shift back by half its width */
  width: 95%; /* Width of screen area */
  height: 100%; /* Height of screen area */
  border: none;
  z-index: 1;
}

/* CoD Modern Warfare 3 */

.cod-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}
.cod-mms {
  position: relative;
  width: 350px;
  aspect-ratio: 9/18.2;
  top: 5px;
}

.mw3-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91%;
  height: auto;
  object-fit: contain;
  display: block;
  overflow: hidden;
  border-radius: 7%;
}

.phone-mock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  vertical-align: baseline;
}

.cod-email {
  display: flex;
  border-radius: var(--12);
  overflow: hidden;
  margin-left: -15px;
  background-color: pink;
}

.mw3-email {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
}

/* Digital voice */

.dv-storyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--48);
}

.storyboard-img {
  width: 90%;
  height: auto;
}

.youtube-vid {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

.youtube-vid iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default iframe border */
}

.infocards-sketches {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--48);
  gap: var(--6);
  transform: scale(0.9);
}

.infosketch-img {
  width: 100%;
  display: flex;
  border-radius: 2%;
  overflow: hidden;
}

.infosketch-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bt-cards {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: red;
}

.dt-card {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #798095;
}

.mb-card {
  display: flex;
  height: 92%;
  width: auto;
}

.dt-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px var(--left-right-padding);
}
.copyright {
  font-size: 10px;
}

.footer .socials {
  margin: var(--12) 0px;
  gap: var(--12);
  display: flex;
  border-top: solid 1px rgba(121, 128, 149, 0.3);
  border-radius: 5px;
  padding: var(--12) var(--48);
  align-items: center;
  justify-content: center;
}

.footer .social-icons {
  background-color: var(--lightwhite);
  border: 0.5px solid var(--darkgrey);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  transform: scale(1);
}

.socials a:hover {
  border-color: var(--darkgrey);
  background-color: #121212;
  transition: all 0.3s ease;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
