* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --lightwhite: #fbfcff;
  --darkgrey: #363636;
  --blackgrey: #202020;
  --softblue: #dbdfec;
  --midblue: #798095;
  --6: 6px;
  --12: 12px;
  --24: 24px;
  --48: 48px;
  --72: 72px;
  --96: 96px;
  --left-right-padding: 20vw;
}

a {
  transition: all 0.3s ease;
}

.light-white {
  color: var(--lightwhite);
}

.dark-grey {
  color: var(--darkgrey);
}

.black-grey {
  color: var(--blackgrey);
}

.mid-blue {
  color: var(--midblue);
}

body {
  background-color: var(--lightwhite);
}

p {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.shadow-right {
  box-shadow: 8px 8px 10px rgba(121, 128, 149, 0.2);
}

.shadow-left {
  box-shadow: -8px 8px 10px rgba(121, 128, 149, 0.2);
}

.shadow-cent {
  box-shadow: 0px 0px 10px rgba(121, 128, 149, 0.3);
}

.mar-bottom-12 {
  margin-bottom: var(--12);
}

.mar-bottom-24 {
  margin-bottom: var(--24);
}

.mar-bottom-48 {
  margin-bottom: var(--48);
}

.mar-top-72 {
  margin-top: var(--72);
}

.mar-top-48 {
  margin-top: var(--48);
}

.main-content-wrapper {
  flex: 1 0 auto;
}

/* Navigation */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px var(--left-right-padding) 50px var(--left-right-padding);
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ul-nav {
  display: flex;
  list-style: none;
  gap: 6px;
}

.li-nav a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.li-nav a:hover {
  border: 2px solid var(--darkgrey);
}

.logo-header img {
  width: 85px;
  height: 85px;
}

.hamburger-container {
  display: none;
}

/* Portfolio */

.portfolio-container,
.about-container,
.project-container,
.contact-container {
  padding: 0px var(--left-right-padding);
}

.page-title {
  font-size: 53px;
  font-weight: 800;
  border-top: 5px solid;
  padding-top: var(--6);
  padding-bottom: var(--48);
}

.card-container {
  display: grid;
  padding: var(--24) 0;
  gap: var(--24);
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(280px, 45%, 400px), 1fr)
  );
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: var(--12);
  overflow: hidden;
  border-bottom: solid 4px var(--softblue);
  flex: 1 1 400px;
}

.card:hover {
  box-shadow: 0px 0px 25px rgba(121, 128, 149, 0.15);
}

.card-img {
  width: auto;
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img img {
  transform: scale(1.05);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: var(--6);
  padding: var(--24) var(--24);
  background-color: var(--lightwhite);
}

.card-heading {
  font-size: 1.7rem;
  line-height: 2 rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.card:hover .card-heading {
  font-weight: 600;
}

.card:hover .card-body {
  color: var(--blackgrey);
}

.card-title {
  display: flex;
  gap: var(--6);
  align-items: center;
}

.card-arrow {
  display: inline-block;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateZ(0deg) skew(0deg);
  opacity: 0;
  transform-style: preserve-3d;
  transition: transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  font-size: 1.5rem;
  margin-top: var(--6);
  color: var(--darkgrey); /* or use var(--midblue) */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.card:hover .card-arrow {
  transform: translate3d(1em, 0, 0) scale3d(1, 1, 1) rotateZ(0deg) skew(0deg);
  opacity: 1;
}

/* About */

.about {
  display: flex;
  gap: var(--48);
  padding-top: var(--24);
  align-items: flex-start;
}
.about-title {
  font-size: 2rem;
  font-weight: 200;
}

.text-about {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.p-about {
  column-count: 2;
  column-gap: var(--24);
  column-fill: balance;
  max-width: 100%;
}

.profile-pic {
  width: 100%;
  aspect-ratio: 3/4;
  display: flex;
  max-width: 400px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

/* Contact */

.contact-details {
  display: flex;
  width: 100%;
  gap: var(--24);
}

.contact-form {
  box-shadow: 0px 0px 20px rgba(121, 128, 149, 0.3);
  background-color: var(--lightwhite);
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
}

label {
  color: var(--midblue);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
}

.email-input {
  border: 1px solid var(--softblue);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  color: var(--darkgrey);
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.3s ease;
  background-color: var(--lightwhite);
}

.email-input:focus {
  outline: none;
  border: 1px solid var(--midblue);
  color: var(--darkgrey);
}

textarea {
  border: 1px solid var(--softblue);
  border-radius: 4px;
  padding: 10px;
  height: 150px;
  margin-top: 10px;
  color: var(--darkgrey);
  font-size: 1rem;
  font-weight: 300;
  max-width: 100%;
  resize: vertical;
  background-color: var(--lightwhite);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--midblue);
  color: var(--darkgrey);
}

.contact-btn {
  background-color: var(--lightwhite);
  border: 1px solid var(--midblue);
  border-radius: 6px;
  padding: 10px 75px;
  color: var(--midblue);
  font-size: 1rem;
  font-weight: 200;
  margin-top: 5px;
  align-self: center;
}

.contact-btn:hover {
  border-color: var(--blackgrey);
  background-color: var(--blackgrey);
  cursor: pointer;
  color: var(--softblue);
  font-weight: 300;
  text-align: center;
}

.contact-subhead {
  display: flex;
  gap: var(--12);
  align-items: center;
  flex-wrap: wrap;
}

.contact-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--24) 0 0 var(--24);
  width: 100%;
}
.contact-type {
  border-top: solid 1px rgba(121, 128, 149, 0.3);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--12);
  flex-wrap: wrap;
  padding: var(--24) var(--12) var(--24) var(--12);
}
.contact-title {
  font-size: 1.2rem;
}

.contact-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.contact-info {
  font-size: 1.2rem;
}

.contact-socials {
  gap: var(--12);
  display: flex;
  border-top: solid 1px rgba(121, 128, 149, 0.3);
  border-radius: 6px;
  padding: var(--24) var(--12) var(--24) var(--12);
  align-items: center;
  justify-content: center;
}

.contact-socials .social-icons {
  background-color: var(--lightwhite);
  border: 0.5px solid var(--darkgrey);
  width: 100%;
  padding: 20px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale-up {
  transform: scale(1.5);
}

.contact-socials a:hover {
  border-color: var(--darkgrey);
  background-color: #121212;
  transition: all 0.3s ease;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
/* Projects */

.project {
  margin-bottom: var(--72);
}

.width-50 {
  width: 50%;
}

.text-split {
  display: flex;
  gap: var(--48);
  align-items: flex-start;
}
.project-title {
  margin: var(--48) 0 var(--12) 0;
  font-size: 1.7rem;
  font-weight: 300;
  padding-top: var(--12);
  border-top: 1px solid var(--midblue);
  border-radius: 5px;
  padding-bottom: var(--24);
}

.results {
  padding: var(--24) var(--48);
  background-color: #dbdfec3b;
  color: var(--midblue);
  font-weight: 400;
  align-items: center;
  border-top: solid 1px var(--softblue);
  border-bottom: solid 1px var(--softblue);
}

/* EE Gaming */

/* Starfield */

.starfield-designs {
  display: flex;
  gap: var(--24);
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.starfield-1,
.starfield-2,
.starfield-3 {
  flex: 1 1 300px;
  min-width: 250px;
  max-width: 300px;
}
.starfield-mms {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(121, 128, 149, 0.15);
}

.starfield-3 {
  position: relative;
  justify-content: center;
  align-items: center;
}

.ee_gaming_wistia_embed {
  aspect-ratio: 1/2.1;
  width: 100%;
  border: none;
}
.landing-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 9/19;
  overflow: hidden;
  border-radius: 25px;
}

.bg-phone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; /* Allow clicks to pass through to iframe */
}

.bg-phone img {
  width: 100%;
  height: 100%;
}

.starfield-landing {
  position: absolute;
  top: 0%; /* Distance from top of phone */
  left: 50%; /* Distance from left edge */
  transform: translateX(-50%); /* Shift back by half its width */
  width: 95%; /* Width of screen area */
  height: 100%; /* Height of screen area */
  border: none;
  z-index: 1;
}

/* CoD Modern Warfare 3 */

.cod-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}
.cod-mms {
  position: relative;
  width: 350px;
  aspect-ratio: 9/18.2;
  top: 5px;
}

.mw3-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91%;
  height: auto;
  object-fit: contain;
  display: block;
  overflow: hidden;
  border-radius: 7%;
}

.phone-mock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  vertical-align: baseline;
}

.cod-email {
  display: flex;
  border-radius: var(--12);
  overflow: hidden;
  margin-left: -15px;
}

.mw3-email {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
}

/* Digital voice */

.dv-storyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--48);
}

.storyboard-img {
  width: 100%;
  height: auto;
  max-width: 900px;
}

.youtube-vid {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.youtube-vid iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default iframe border */
}

.infocards-sketches {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--6);
  margin-left: auto;
  margin-right: auto;
}

.infosketch-img {
  width: 100%;
  display: flex;
  border-radius: 2%;
  overflow: hidden;
  max-width: 500px;
}

.infosketch-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dv-cards {
  display: flex;
  width: 45vw;
  height: auto;
  align-items: start;
  justify-content: center;
  gap: var(--12);
  margin-left: auto;
  margin-right: auto;
}

.dt-card {
  width: 68%;
  height: auto;
  display: inline-block;
  border-radius: 10px;
}

.mb-card {
  height: auto;
  width: 14.9%;
  display: inline-block;
  border-radius: 10px;
}

.dv-dt-email {
  display: flex;
  border-radius: var(--12);
  overflow: hidden;
  margin-right: -15px;
}

.dv-dt-email-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 700px;
}

/* EE campaigns */

.phone-upgrades-container {
  display: flex;
  gap: var(--24);
  align-items: center;
  justify-content: center;
}

.ee-email-viz {
  position: relative;
  width: 350px;
  aspect-ratio: 9/18.2;
}

.ee_wistia_embed {
  position: absolute;
  top: 0%; /* Distance from top of phone */
  left: 50%; /* Distance from left edge */
  transform: translateX(-50%); /* Shift back by half its width */
  width: 90%; /* Width of screen area */
  height: 100%; /* Height of screen area */
  border: none;
}

.ee_wistia_embed_2 {
  position: absolute;
  top: 1%; /* Distance from top of phone */
  left: 50%; /* Distance from left edge */
  transform: translateX(-50%); /* Shift back by half its width */
  width: 90%; /* Width of screen area */
  height: 97%; /* Height of screen area */
  border: none;
  border-radius: 8%;
  background-color: black;
}

.ee-emails-container {
  display: flex;
  gap: var(--12);
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.ee-email {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  max-width: 450px;
}

.ee-email img {
  width: 100%;
  height: auto;
}

.ee-email-drone {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
  max-width: 450px;
}

.ee-email-drone img {
  width: 100%;
  height: auto;
}

.absolute-position {
  display: flex;
  width: 100%;
  position: relative;
  align-items: end;
  justify-content: center;
}

.ee-mb-email {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  margin-left: -30px;
  width: 30%;
  height: auto;
  box-shadow: -10px 0px 10px rgba(85, 90, 104, 0.3);
  max-width: 340px;
}

.ee-mb-email img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.ee-awareness-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--24);
}

.video-sinch-container {
  width: 100%;
  display: flex;
  background-color: #03a4ad;
  border-radius: 10px;
}
.wistia_embed_fttp {
  width: 100%; /* Width of screen area */
  height: 60vh; /* Height of screen area */
  border: none;
}
.sinch-landing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 12px;
}

.sinch-landing {
  width: 100%;
  border-radius: 10px;
}

/* ITV */

.wistia_itv {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.itv-stills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--6);
  grid-row-gap: var(--6);
}

.itv-stills img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Covid 19 updates */

.covid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--6);
  grid-row-gap: var(--6);
}

.covid-video {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/* VFS */

.vfs-stills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--6);
  grid-row-gap: var(--6);
}

.vfs-stills img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.vfs-stills img.wide {
  grid-column: 1 / -1;
}

.vfs-row {
  display: flex;
  width: 100%;
  margin-bottom: var(--6);
  padding: var(--6);
  background-color: var(--blackgrey);
  gap: 3px;
  border-radius: 6px;
}

.vfs-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BT Campaigns */

.bf-mms {
  width: 350px;
  aspect-ratio: 9/18.2;
}

.bf-mms img {
  display: flex;
  width: 100%;
  height: 100%;
}

.bg-blk {
  background-color: #121212;
}

.video-sinch-container-bt {
  aspect-ratio: 1 / 1;
  display: flex;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  flex: 1;
}

.wistia_embed_bt {
  width: 100%; /* Width of screen area */
  height: 100%; /* Height of screen area */
  border: none;
}

.bt-phone-upgrades-container {
  display: flex;
  gap: var(--24);
  align-items: center;
  justify-content: center;
}

/* BT TV Recontracting */

.bttv-intro {
  display: flex;
  gap: var(--48);
}
.bttv-intro-img {
  width: 100%;
  display: flex;
  max-width: 600px;
}

.bttv-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.bttv-intro-img img {
  width: 100%;
  display: flex;
  object-fit: contain;
}

.bttv-dt-email {
  display: flex;
  border-radius: var(--12);
  overflow: hidden;
  margin-left: -15px;
}

.bttv-dt-email-2 {
  display: flex;
  border-radius: var(--12);
  overflow: hidden;
  margin-right: -15px;
}

.bttv-dt-email-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
}

.bttv-mb-email {
  position: relative;
  width: 350px;
  aspect-ratio: 9 / 18.2;
  display: flex;
}

.bttv-mb-scroll {
  position: absolute;
  top: 2%;
  width: 90%;
  height: 96%;
  overflow-y: auto;
  left: 50%;
  transform: translateX(-50%);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll;
  border-radius: 20px;
}
.bttv-mb-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bttv-mb-email-img {
  width: 100%;
  height: auto;
  display: block;
}

.pointer-event {
  pointer-events: none;
}

.bttv-direct-mail {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bttv-direct-mail img {
  width: 80%;
  border-radius: 10px;
}

/* Interior Design */

.contain-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: var(--12);
}

.img-split {
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--6);
}

.img-50 {
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--6);
}

.img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-cover-2 {
  width: 70%;
}

.border-rad {
  border-radius: 6px;
}

/* Mecca Cola */

.mc-table-grid {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  /* shorthand that means exactly the same as: grid-template-columns: 1fr 1fr 1fr; */
  gap: var(--24);
  align-items: start;
}

.mc-social-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--12);
  align-items: center;
  justify-content: center;
  background-color: white;
}
.mc-social-posts img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid 0.5px var(--softblue);
}

.mc-social-banners {
  display: flex;
  height: 100%;
}
.mc-split-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--12);
}

.img-contain {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mc-img-split {
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--6);
  justify-content: center;
}

.img-70 {
  width: 70%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.max-1200 {
  max-width: 1200px;
}
/* Other projects */

.other-projects-container {
  padding: 0px 10vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.other-projects-title {
  font-size: 1.8rem;
  font-weight: 600;
  border-top: 5px solid;
  padding-top: var(--6);
  padding-bottom: var(--24);
}

.other-card {
  display: flex;
  flex-direction: column;
  gap: var(--12);
  max-height: 300px;
  width: 400px;
  position: relative; /* Add this for pseudo-element positioning */
  padding-bottom: var(--12);
}

.other-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Start with no width */
  height: 2px; /* Line thickness */
  background-color: var(--darkgrey); /* Line color */
  transition: width 0.25s cubic-bezier(0.5, 0.15, 0.25, 1); /* Ease in-out animation */
}

.other-card:hover::after {
  width: 100%; /* Expand to full width on hover */
}
.other-projects-container a {
  text-decoration: none;
}

.op-img-container {
  overflow: hidden;
  border-radius: 5px;
  flex: 1; /* Takes up remaining space, leaving room for title */
  aspect-ratio: 2/1;
  box-shadow: 0px 0px 10px rgba(121, 128, 149, 0.15);
}

.other-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.other-card:hover img {
  transform: scale(1.05);
}

.other-project-name {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
}

.other-card:hover .other-project-name {
  color: var(--darkgrey);
  transition: all 0.3s ease;
}
/* Slider */

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.other-card-container {
  display: flex;
  gap: var(--24);
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: var(--24) var(--12);
  /* Hide scrollbar for WebKit (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  border: solid 1px var(--softblue);
  color: var(--softblue);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  backdrop-filter: blur(3px);
}

.slider-arrow.left {
  left: var(--24);
}

.slider-arrow.right {
  right: var(--24);
}

.slider-arrow:hover {
  border: solid 1px var(--lightwhite);
  color: var(--lightwhite);
}

.other-card-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel-prev:disabled,
.carousel-next:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px var(--left-right-padding);
  flex-shrink: 0;
}
.copyright {
  font-size: 10px;
}

.footer .socials {
  margin: var(--12) 0px;
  gap: var(--12);
  display: flex;
  border-top: solid 1px rgba(121, 128, 149, 0.3);
  border-radius: 5px;
  padding: var(--12) var(--48);
  align-items: center;
  justify-content: center;
}

.footer .social-icons {
  background-color: var(--lightwhite);
  border: 0.5px solid var(--darkgrey);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  transform: scale(1);
}

.socials a:hover {
  border-color: var(--darkgrey);
  background-color: #121212;
  transition: all 0.3s ease;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Screen size: Large screen 1440px */
@media (max-width: 1440px) {
  :root {
    --left-right-padding: 10vw;
  }
}
/* Screen size: Mid screen 1200px */
@media (max-width: 1200px) {
  .p-about {
    column-count: 1;
    column-gap: var(--24);
    column-fill: balance;
    max-width: 100%;
  }

  /* Contact */

  .contact-title {
    font-size: 1rem;
  }

  .contact-info {
    font-size: 1rem;
  }

  .contact-form {
    padding: 40px 50px;
  }

  /* BT Campaigns */

  .bt-phone-upgrades-container {
    gap: var(--12);
  }

  .video-sinch-container-bt {
    width: 100%;
  }
}

/* Screen size: Tablet 768px */
@media (max-width: 768px) {
  :root {
    --left-right-padding: 5vw;
    --48: 24px;
    --72: 48px;
  }

  /* Navigation & Hamburger menu */

  .nav-container {
    display: flex;
    width: 100%;
    padding: 50px var(--left-right-padding);
  }

  .nav-wrapper {
    margin: 0;
    width: 100%;
  }

  .hamburger-container {
    width: 100%;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .hamburger {
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    display: flex;
  }

  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--darkgrey);
    transition: 0.3s;
    display: block;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    background-color: var(--blackgrey);
    top: 188px;
    left: 0;
    right: 0;
    padding: var(--24);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 10px 10px rgba(21, 27, 41, 0.3);
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  .menu .ul-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--6);
    width: 100%;
  }

  .li-nav {
    width: 100%;
  }

  .li-nav a {
    color: var(--softblue);
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    padding: var(--24) 0px;
  }

  .li-nav a:hover {
    color: var(--lightwhite);
    animation: borderFade 0.4s forwards;
  }

  @keyframes borderFade {
    0% {
      border-color: var(--lightwhite);
    }

    20% {
      border-color: var(--lightwhite);
    }
    100% {
      border-color: var(--darkgrey);
    }
  }

  /* About */

  .about {
    flex-direction: column;
  }

  .text-about {
    max-width: 100%;
    column-count: 1;
  }

  .profile-pic {
    width: 100%;
    aspect-ratio: 2/1.5;
    display: flex;
    max-width: 100%;
  }
  .profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
  }

  /* Projects */

  .width-50 {
    width: 100%;
  }

  .text-split {
    flex-direction: column;
  }

  /* EE Gaming */
  .starfield-designs {
    display: flex;
    gap: var(--24);
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Contact */

  .contact-details {
    display: flex;
    flex-direction: column;
  }

  /* BT TV Re-Contracting */

  .bttv-direct-mail img {
    width: 100%;
  }

  .bttv-intro {
    flex-direction: column;
  }

  /* BT Campaigns */

  .bt-phone-upgrades-container {
    gap: var(--6);
  }

  /* EE Campaigns */
  .ee-email-drone {
    width: 60%;
  }

  .ee-mb-email {
    width: 45%;
  }
  .video-sinch-container {
    width: 100%;
    display: flex;
    background-color: #03a4ad;
    border-radius: 10px;
  }
  .wistia_embed_fttp {
    height: 40vh; /* Height of screen area */
  }

  /* Mecca Cola */
  .img-70 {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
  .mc-table-grid {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
  .mc-social-posts {
    gap: var(--6);
  }

  .banner-70 {
    width: 70%;
    margin: 0 auto;
  }
  /* Other Projects */
  .other-projects-container {
    padding: 0px 5vw;
  }
  /* Covid */
  .covid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Interior Design */
  .img-cover-2 {
    width: 100%;
  }

  /* VFS */
  .vfs-row {
    padding: 3px;
  }
}

/* Mobile 570px */
@media (max-width: 570px) {
  /* Contact */
  .contact-form {
    padding: 30px 30px;
  }

  /* EE Campaigns */

  .phone-upgrades-container {
    flex-direction: column;
  }

  .wistia_embed_fttp {
    height: 30vh; /* Height of screen area */
  }

  /* BT Campaigns */

  .bt-phone-upgrades-container {
    flex-direction: column;
  }
}
