* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  transition: all 0.3s ease;
}

:root {
  --lightwhite: #fbfcff;
  --darkgrey: #363636;
  --blackgrey: #202020;
  --softblue: #dbdfec;
  --midblue: #798095;
  --6: 6px;
  --12: 12px;
  --24: 24px;
  --48: 48px;
}

.light-white {
  color: var(--lightwhite);
}

.dark-grey {
  color: var(--darkgrey);
}

.black-grey {
  color: var(--blackgrey);
}

.mid-blue {
  color: var(--midblue);
}

body {
  background-color: var(--lightwhite);
}

/* Navigation */

.nav-container {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  margin: 100px 20vw 50px 20vw;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.ul-nav {
  display: flex;
  list-style: none;
  gap: 6px;
}

.li-nav a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.li-nav a:hover {
  border: 2px solid var(--darkgrey);
}

.logo-header img {
  width: 85px;
  height: 85px;
}

/* Portfolio */

.portfolio-container {
  padding: 0px 20vw;
}

.page-title {
  font-size: 53px;
  font-weight: 800;
  border-top: 5px solid;
  padding-top: var(--6);
  padding-bottom: var(--24);
}

.card-container {
  display: grid;
  padding: var(--24) 0;
  gap: var(--24);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: var(--12);
  overflow: hidden;
  border-bottom: solid 4px var(--softblue);
  flex: 1 1 400px;
}

.card-img {
  width: auto;
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card:hover .card-img img {
  transform: scale(1.05);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: var(--6);
  padding: var(--24) var(--24);
  background-color: var(--lightwhite);
}

.card-heading {
  font-size: 1.7rem;
  line-height: 2 rem;
  font-weight: 400;
}

.card-body {
  font-size: 1rem;
  line-height: 1.4rem;
}
